/* Modal styles */
#positions-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#positions-modal > div {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 50%;
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

form div {
    margin-bottom: 10px;
}
